@font-face {
    font-family: Lato;
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

:root {
  --flash-color: #ccc;
}

body.light {
  --bg: white;
  --text: black;
  --bg-img: url("../assets/images/1153879.jpg");
}

body.dark {
  --bg: black;
  --text: white;
  --flash-color: #2a2a2a;
  --bg-img: url("../assets/images/1153879-dark.jpg");
}

body{
margin: 0;
padding: 0;
color: var(--text);
font-family: Lato, sans-serif;
min-height: 100vh;
background: var(--bg-img) center / cover no-repeat;
overflow-y: auto;
}

html{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
*, *::before, *::after {box-sizing: inherit;}