.projpage-layout {
    width : 90%;
    background: var(--bg);
    color: var(--text);
    margin: 0 auto;
    min-height: 100vh;
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
}

.projpage-layout .project-title {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.projpage-layout .project-main-div{
    width : 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.outer-banner-div{
    display: flex;
    flex-direction: row;
    gap: 32rem;
}

.proj-banner-div{
    width: 55%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    margin-bottom: 10px;
}

.fullsc-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.fullsc-div button{
    position: fixed;
    top: 1rem;
    right: 6rem;
    background: var(--bg);
    border: 1px solid #ccc;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fullsc-div button img{
    width: 24px;
    height: 24px;
}

.dark .fullsc-div button img{
  filter: invert(1) brightness(1.4) contrast(1.2);
}

.proj-back-btn{
    height: 50px;
    width: 50px;
    background-color: #020007de;
    color: white;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 28px;
    padding-bottom: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-code-btn{
    height: 50px;
    width: 50px;
    background-color: #020007de;
    color: white;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-main-div{
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 99%;
    padding: 0.5rem;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    margin: 0 auto;
}

@media (max-width: 768px){

    .projpage-layout .project-title {
    width: 100%;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}